<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="listInjection.usingListFactoryBean.beans.Student" id="std1">
        <property name="name" value="Raj"/>
        <property name="roll" value="101"/>
        <property name="subjects">
            <bean class="org.springframework.beans.factory.config.ListFactoryBean">
                <property name="targetListClass">
                    <value>java.util.LinkedList</value>
                </property>
                <property name="sourceList">
                    <list>
                        <value>Physics</value>
                        <value>Chemistry</value>
                        <value>Maths</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>
</beans>